.blog-nav {
  margin:                  0 0 $base-spacing-xl $base-spacing-m;
  &:hover {
    opacity:               1;
    text-decoration:       none;
  }

  a {
    text-decoration:       none;
  }
}

.blog-nav-link {
  color:                   $primary-color;
  font-family:             $alt-font-family;
  font-size:               $font-size-header-m;
  font-weight:             700;
  opacity:                 .3;
  transition:              .3s ease;
  &:hover {
    opacity:               1;
    transition:            .3s ease;
  }
}

.content-link {
  color:                   $emphasis-color;
  font-weight:             bold;
  text-decoration:         underline;
  transition:              .3s ease;
  &:hover {
    color:                 $emphasis-color-hover;
    transition:              .3s ease;
  }
  &:visited {
    color:                 $gray-color;
  }
}

.container-flex {
  display:                 flex;
  justify-content:         space-between;
  margin:                  0 0 $base-spacing-xl 0;
  padding:                 0;
  @include handheld {
    flex-direction:        column;
    justify-content:       center;
  }
}

.container-flex-half {
  display:                 inline;
  padding:                 $base-spacing-s;
  width:                   47%;
  @include handheld {
    display:               block;
    width:                 100%;
  }
}

.copyright {
  border-top:              1px solid white;
  margin-top:              $base-spacing;
  opacity:                 .5;
  padding:                 $base-spacing;
}

.float-right {
  float:                   right;
}

.header-image-container {
  background-image:        url('/assets/images/me.jpg');
  background-position:     center;
  background-repeat:       no-repeat;
  background-size:         $header-height * 1.2;
  border:                  2px solid black;
  border-radius:           $header-height / 2;
  height:                  $header-height * 0.9;
  left:                    $header-height * 0.9;
  position:                absolute;
  top:                     $base-spacing;
  width:                   $header-height * 0.9;

  @include handheld {
    display:               none;
  }
}

.header-titles {
  display:                 flex;
  flex-direction:          column;
  justify-content:         center;
  margin-left:             $header-height * 2;
  width:                   100%;

  @include handheld {
    margin-left:           $base-spacing-xl;
  }
}

.nav-link {
  color:                   $font-color-light;
  font-family:             $alt-font-family;
  font-size:               $font-size-header-xs;
  text-decoration:         none;
  transition:              .3s ease;
  &:hover {
    color:                 $font-color-light;
  }
  &:visited {
    color:                 $font-color-light;
  }

  @include handheld {
    font-size:             $font-size-header-xl;
    padding:               $base-spacing;
    text-align:            center;
  }
}

.no-print {
  @media print {
    display:               none;
  }
}

.paragraph-block {
  margin-bottom:           $base-spacing-xl;
}

.paragraph-indent {
  font-size:               $base-font-size;
  line-height:             $line-height-xl;
  margin-bottom:           $base-spacing-l;
  margin-left:             $base-spacing-l;

  h3 {
    font-size:             $font-size-header-s;
    margin:                $base-spacing-l 0 $base-spacing 0;
    padding:               0;
  }

  @media print {
    margin:                0 0 $base-spacing $base-spacing;
  }
}

.prof-title {
  padding-left:            $base-spacing;

  @include handheld {
    display:               none;
  }
}

.site-title {
  background-image:        url('/assets/images/logo.svg');
  background-position:     center;
  background-repeat:       no-repeat;
  background-size:         contain;
  height:                  $header-height / 2;
  width:                   30%;
}
