a {
  cursor:                  pointer;
  color:                   $emphasis-color;
  text-decoration:         underline;
  transition:              .3s ease;
  &:hover {
    color:                 $emphasis-color-hover;
    transition:              .3s ease;
  }
  &:visited {
    color:                 $gray-color;
  }
}

article {
  font-size:               $base-font-size;
  margin-bottom:           $base-spacing-xl;

  p {
    line-height:          $line-height-xl;
    margin-bottom:        $base-spacing-l;
  }
}

footer {
  align-items:             center;
  background:              $gray-color-dark;
  box-sizing:              border-box;
  display:                 flex;
  flex-direction:          column;
  font-size:               $font-size-small;
  height:                  $footer-height;
  justify-content:         center;
  margin:                  0 auto;
  padding:                 $base-spacing;
  position:                relative;
  text-align:              center;
  width:                   100%;

  ul {
    padding:                0;
  }

  li {
    display:               inline;
    opacity:               .5;
    padding:               $base-spacing-s;
    &:hover {
      opacity:             1;
      text-decoration:     underline;
    }
    &:not(:first-child) {
      margin-left:         $base-spacing-m;
      @include handheld {
        margin-left:       0;
      }
    }
    @include handheld {
      display:             block;
    }
  }

  @include handheld {
    height:                auto;
  }

  @media print {
    display:               none;
  }
}

h1 {
  color:                   $primary-color;
  font-family:             $alt-font-family;
  font-size:               $font-size-header-xl;
  font-weight:             700;
  margin:                  $base-spacing-l 0 $base-spacing-m $base-spacing-s;

  @media print {
    &:before {
      content:             "Olivia Gardiner - ";
    }
  }
}

h2 {
  font-family:             $alt-font-family;
  font-size:               $font-size-header-l;
  margin:                  $base-spacing-l 0 $base-spacing $base-spacing-m;

  @media print {
    margin:                $base-spacing-m 0 $base-spacing $base-spacing-s;
  }
}

h3 {
  font-family:             $alt-font-family;
  font-size:               $font-size-header-m;
  margin:                  $base-spacing-l 0 $base-spacing $base-spacing-l;

  @media print {
    margin:                $base-spacing-m 0 $base-spacing $base-spacing-m;
  }
}

header {
  align-items:             center;
  background:              $background-color;
  box-sizing:              border-box;
  display:                 flex;
  height:                  $header-height;
  justify-content:         space-between;
  position:                fixed;
  top:                     0px;
  width:                   100%;
  z-index:                 100;

  @media print {
    display:               none;
  }

  @include handheld {
    height:                $header-height-handheld;
  }
}

html, body {
  background:              $background-color;
  color:                   $base-font-color;
  font-family:             $base-font-family;
  font-size:               $base-font-size;
  height:                  100vh;
}

hr {
  background-color:        $primary-color;
  border:                  none;
  height:                  3px;
  margin:                  $base-spacing-l 0 $base-spacing-xl 0;
}

ul, li {
  font-weight:             $base-font-weight;
  list-style-type:         none;
}

p {
  color:                   $base-font-color;
  font-size:               $base-font-size;
  line-height:             $base-line-height;
}

pre {
  /*background-color:        $gray-color-light;*/
  box-sizing:              border-box;
  display:                 block;
  font-weight:             normal;
  margin:                  0 auto;
  min-width:               600px;
  overflow-x:              auto;
  padding:                 $base-spacing-m;
  width:                   90%;
}

section {
  color:                   $gray-color-dark;
  margin-top:              $header-height;
  width:                   100%;

  @media print {
    margin-top:            0;
  }

  @include handheld {
    margin-top:            $header-height-handheld;
  }
}
