#content {
  margin:                  0 auto;
  overflow:                hidden;
  padding:                 $base-spacing;
  width:                   60%;

  @include handheld {
    width:                 90%;
  }

  @media print {
    width:                 100%;
  }
}

#logo {
  margin-left:             $base-spacing-m;
  width:                   100%;
}

#menu-icon {
  cursor:                  pointer;
  font-size:               $font-size-header-m;
  padding-right:           $base-spacing-xl;

  @include handheld {
    font-size:             $font-size-header-xl;
  }
}

#scroll-top {
  background:              $gray-color-dark;
  top:                     50%;
  color:                   $font-color-light;
  cursor:                  pointer;
  display:                 none;
  font-size:               $font-size-header-m;
  height:                  $base-spacing * 5;
  left:                    3%;
  line-height:             $base-spacing * 5;
  opacity:                 .3;
  position:                fixed;
  text-align:              center;
  width:                   $base-spacing-xl;
  -webkit-transform:       rotate(90deg);
  -moz-transform:          rotate(90deg);
  -ms-transform:           rotate(90deg);
  -o-transform:            rotate(90deg);
  &:hover {
    opacity:               .7;
  }

  @include handheld {
    bottom:                5%;
    height:                $base-spacing * 8;
    left:                  auto;
    line-height:           $base-spacing * 8;
    opacity:               1;
    right:                 5%;
    text-align:            center;
    top:                   auto;
    width:                 $base-spacing * 8;
  }
}

#side-nav {
  background-color:        $primary-color;
  display:                 none;
  height:                  calc(100vh - #{$header-height-handheld});
  position:                absolute;
  right:                   0;
  top:                     $header-height-handheld;
  width:                   $sidenav-width;

  ul {
    padding:               0;

    li {
      display:             block;
      margin-bottom:       $base-spacing;
      padding:             $base-spacing 0 $base-spacing $base-spacing-l;
      transition:          .3s ease;
      &:hover {
        background-color:  rgba(255, 255, 255, .3);
        transition:        .3s ease;
      }
    }
  }

  @include handheld {
    top:                   $header-height-handheld;
    width:                 100%;
  }
}
