.cover-image {
  background-attachment:   fixed;
  background-position:     center;
  background-repeat:       no-repeat;
  background-size:         cover;
  height:                  calc(100vh - #{$header-height});
  width:                   100%;
}

.img-center {
  display:                 block;
  margin:                  0 auto;
  max-height:              600px;
  max-width:               600px;

  @include handheld {
    max-height:            600px;
    max-width:             100%;
  }
}

.image-note {
  font-style:              italic;
  font-size:               $font-size-small;
  margin:                  -10px 0 $base-spacing 0;
}

.meta {
  font-family:             $alt-font-family;
  font-size:               $base-font-size;
  margin-bottom:           $base-spacing;
}

.post {
  font-size:               $base-font-size;
  margin-bottom:           $base-spacing-xl;

  blockquote {
    border-left:           5px solid $gray-color;
    font-size:             $font-size-regular;
    padding-left:          $base-spacing;
  }

  h4 {
    color:                 $primary-color;
    display:               block;
    font-size:             3em;
    margin:                $base-spacing-l 0 $base-spacing-xl 0;
    text-align:            center;
  }

  li {
    font-size:             $font-size-regular;
    padding:               $base-spacing-s;
    &:before {
      content:             $bullet-disc;
      color:               $primary-color;
      font-size:           $font-size-header-s;
    }
  }

  small {
    display:               block;
    font-size:             $font-size-regular;
    margin:                0px 0 $base-spacing-m 0;
    text-align:            center;

    em {
      font-size:           $font-size-small;
    }
  }

  table {
    td {
      font-size:           $font-size-regular;
      min-width:           120px;
      padding:             3px;
    }
  }
}

.post-cover {
  align-items:             center;
  display:                 flex;
  height:                  auto;
  justify-content:         center;
  margin:                  $base-spacing 0 $base-spacing-m 0;
  max-height:              350px;
  max-width:               100%;
  overflow:                hidden;

  img {
    height:                auto;
    max-width:             100%;
  }
}

.post-cover-full {
  width:                   100%;
}

.post-date {
  display:                 inline-block;
  font-family:             $alt-font-family;
  font-size:               $font-size-small;
  padding:                 $base-spacing 0 0 0;
  width:                   120px;
}

.post-description {
  display:                 block;
  line-height:             $line-height-l;
  margin:                  $base-spacing-m 0 0 0;
}

.post-list {
  margin:                  0 auto;
  padding:                 0;
  width:                   100%;
}

.post-list-item {
  display:                 flex;
  flex-direction:          row;
  margin-bottom:           $base-spacing-xl;
  padding-bottom:          $base-spacing-m;

  @include handheld {
    align-items: stretch;
    flex-direction:        column-reverse;
  }
}

.post-list-item-small {
  margin-bottom:           $base-spacing-m;
}

.post-side {
  display:                 inline-block;
  height:                  100%;
  margin:                  0;
  max-width:               120px;
  padding:                 0;

  @include handheld {
    align-self:            center;
    display:               flex;
    justify-content:       space-between;
    max-width:             100%;
    width:                 90%;
  }
}

.post-summary {
  align-self: center;
  display:                 inline-block;
  margin:                  0;
  max-width:               95%;
  padding:                 0;
}

ul {
  .tags {
    margin-bottom:          $base-spacing-l;
  }
}

.post-tag:before {
  content:                "#";
}

.post-tag {
  background-color:       $primary-color;
  color:                  $font-color-light;
  display:                inline-block;
  font-family:            $alt-font-family;
  font-size:              $font-size-small;
  margin:                 0 $base-spacing-s $base-spacing-s 0;
  opacity:                .3;
  padding:                $base-spacing;
  transition:             .3s ease;
  &:hover {
    opacity:              .7;
    transition:             .3s ease;
  }
}

.post-tag-small {
  color:                  $gray-color-dark;
  font-family:            $alt-font-family;
  font-size:              $font-size-small;
  margin-right:           $base-spacing-s;
  &:hover {
    text-decoration:      underline;
  }
}

.post-title {
  color:                  $primary-color;
  display:                inline-block;
  font-family:            $alt-font-family;
  font-size:              $font-size-header-l;
  font-weight:            700;
  text-decoration:        none;
  &:hover {
    color:                $primary-color;
  }
  &:visited {
    color:                $primary-color!important;
  }

  @include handheld {
    font-size: $base-font-size * 3;
  }
}

.post-title-small {
  font-size:              $base-font-size;
  font-weight:            bold;
}

.social-media-buttons-horizontal, .social-media-buttons-vertical {
  display:                flex;
  margin:                 $base-spacing 0 0 0;
  padding:                0;
}

.social-media-buttons-horizontal li, .social-media-buttons-vertical li {
  padding:                $base-spacing-s;
}

.social-media-buttons-horizontal {
  flex-direction:         row;
}

.social-media-buttons-vertical {
  flex-direction:         column;

  @include handheld {
    flex-direction:       row;
  }
}

.tags {
  margin:                 $base-spacing 0 $base-spacing 0;
  padding:                0;
}
