.lightbox {
  background-color:        rgba(0, 0, 0, .8);
  background-position:     center;
  background-repeat:       no-repeat;
  background-size:         80%;
  display:                 none;
  height:                  100vh;
  left:                    0;
  position:                fixed;
  top:                     0;
  width:                   100vw;
  z-index:                 200;
}

.lightbox-close {
  color:                   $font-color-light;
  cursor:                  pointer;
  font-size:               $font-size-header-xl;
  height:                  $font-size-header-xl;
  left:                    $base-spacing-m;
  position:                absolute;
  text-align:              center;
  top:                     $base-spacing;
  width:                   $font-size-header-xl;
  z-index:                 300;

  @include handheld {
    bottom:                5%;
    font-size:             $base-spacing * 10;
    height:                $base-spacing * 10;
    left:                  calc(50% - (#{$base-spacing} * 5));
    top:                   auto;
    width:                 $base-spacing * 10;
  }
}

.showcase-container {
  align-items:             center;
  display:                 flex;
  flex-wrap:               wrap;
  justify-content:         center;
  margin:                  0;
  width:                   100%;
}

.showcase-image {
  align-items:             center;
  display:                 flex;
  justify-content:         center;
  bottom:                  0;
  left:                    0;
  overflow:                hidden;
  position:                absolute;
  right:                   0;
  top:                     0;

  img {
    max-height:            400px;
    max-width:             auto;
    -moz-transition:       all 0.5s;
    -webkit-transition:    all 0.5s;
    transition:            all 0.5s;
    &:hover {
      -moz-transform:      scale(1.5);
      -webkit-transform:   scale(1.5);
      transform:           scale(1.5);
    }
    @include handheld {
      max-height:          600px;
    }
  }
}

.showcase-tile {
  cursor:                  pointer;
  margin:                  2%;
  overflow:                hidden;
  position:                relative;
  width:                   25%;
  &:before {
    content:               "";
    display:               block;
    padding-top:           100%;
  }
  @include handheld {
    width:                 70%;
  }
}
