<aside>
  <ul class="social-menu">
    <li class="twitter">
      <a title="oliviaisarobot on Twitter" href="https://twitter.com/oliviaisarobot">
        <img src="/assets/icons/twitter.svg" alt="twitter logo" width="36px">
      </a>
    </li>
    <li class="github">
      <a title="oliviaisarobot on GitHub" href="https://github.com/oliviaisarobot">
        <img src="/assets/icons/github.svg" alt="github logo" width="36px">
      </a>
    </li>
    <li class="behance">
      <a title="Olivia Gardiner on Behance" href="https://www.behance.net/oliviagardiner">
        <img src="/assets/icons/behance.svg" alt="behance logo" width="36px">
      </a>
    </li>
    <li class="linkedin">
      <a title="Olivia Gardiner on Linkedin" href="https://www.linkedin.com/in/olivia-gardiner/">
        <img src="/assets/icons/linkedin.svg" alt="linkedin logo" width="36px">
      </a>
    </li>
  </ul>
  <button id="toggle-social-menu-mobile"></button>
  <button id="to-the-top">‹</button>
</aside>