<div class="paragraph-indent">
  <table>
    <tr>
      <td><b>Email:</b></td>
      <td>oliv.gardiner[at]gmail.com</td>
    </tr>
    <tr>
      <td><b>Phone:</b></td>
      <td>+36 20 282 5996</td>
    </tr>
    <tr>
      <td><b>Github:</b></td>
      <td><a href="https://github.com/oliviaisarobot" target="_blank" class="content-link">oliviaisarobot</a></td>
    </tr>
    <tr>
      <td><b>Twitter:</b></td>
      <td><a href="https://twitter.com/oliviaisarobot" target="_blank" class="content-link">oliviaisarobot</a></td>
    </tr>
  </table>
  <br/>
</div>
