<footer>
  <ul>
    <li><a class="nav-link" href="https://twitter.com/oliviaisarobot" target="_blank">Twitter</a></li>
    <li><a class="nav-link" href="https://github.com/oliviaisarobot" target="_blank">Github</a></li>
    <li><a class="nav-link" href="https://inkedin.com/in/olivia-gardiner/" target="_blank">LinkedIn</a></li>
    <li><a class="nav-link" href="https://www.behance.net/oliviagardiner" target="_blank">Behance</a></li>
    <li><a class="nav-link" href="https://www.flickr.com/photos/oliviagardiner/" target="_blank">Flickr</a></li>
  </ul>

  <div class="copyright">
    <small>
      &copy; oliviaisarobot 2018.
    </small>
  </div>
</footer>
