<head>
  <title>Olivia Gardiner - {{ page.title }}</title>

  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="Olivia Gardiner" />
  <meta name="description" content="{{ page.summary }}" />

  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Olivia Gardiner - {{ page.title }}" />
  <meta property="og:description" content="{{ page.summary }}" />
  <meta property="og:image" content="{{ site.url }}{{ page.cover }}" />

  <meta name="twitter:title" content="Olivia Gardiner - {{ page.title }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:description" content="{{ page.summary }}">
  <meta name="twitter:creator" content="@oliviaisarobot">
  <meta name="twitter:image:src" content="{{ site.url }}{{ page.cover }}"> 

  <link rel="stylesheet" type="text/css" href="/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/css/monokai.css" />

  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
</head>
