<li class="post-list-item">
  <div class="post-side">
    <div class="post-date">{{ post.date | date: "%Y %b %d" }}</div>

    {% include social_media_vert.html %}

    <!--span class="disqus-comment-count" data-disqus-identifier="{{ post.id }}"></span-->
  </div>

  <div class="post-item-body">
    <a href="{{ post.url }}" title="{{ post.title }}" class="post-item-title content-link">{{ post.title }}</a>

    <ul class="tags post-list-tags">
      {% for tag in post.tags %}
      <a href="/tag/{{ tag }}"><li class="tag">{{ tag }}</li></a>
      {% endfor %}
    </ul>

    <div class="post-item-cover">
      <a href="{{ post.url }}"><img src="{{ post.cover }}" /></a>
    </div>

    <div class="post-item-image-note">Cover image: {{ post.cover-source }}</div>

    <span class="post-item-description">
      {{ post.summary }}
    </span>
  </div>
</li>
