---
layout: default
comments: true
---

<div id="content">
  <article>
      <section class="post-head">
        <h1>{{ page.title }}</h1>
  
        <time>{{ page.date | date_to_string }}</time>
      
        <ul class="tags post-tags">
          {% for tag in page.tags %}
          <a href="/tag/{{ tag }}">
            <li class="tag">{{ tag }}</li>
          </a>
          {% endfor %}
        </ul>
      </section>
    
      <section class="post-body">
        {{ content }}
      </section>

      <section class="post-foot">
        {% include social_media_horiz.html %}
      
        <div>
          <a class="content-link float-right" href="/blog">Back to the blog</a>
        </div>
      </section>
  </article>
</div>
